<%include ./partials/header %>

<div class="container">
	<div class="jumbotron" style="padding-top: 10%">
		<div class="container">
			<h1>Student Management System<i class="fas fa-bus-alt"></i> </h1>
            <p>
        	   Review your Students work from anywhere!  
            </p>
		</div>
    </div>
    
    <div class="container">
   <div  class="row">
    <div id="index1" class= "col-4">
       <a class="btn btn-lg btn-info" href="#" style="margin: 30%;" > Home</a>
   </div>
<div id="index2" class= "col-4">
     <a class="btn btn-lg btn-info" href="/dashboard/student" style="margin: 30%;"> Class</a>  
   </div>
   </div>
    
    <div class="row">
    <div id="index3" class= "col-4">
        <a class="btn btn-lg btn-info" href="/dashboard/student/new" style="margin: 30%;">Add Student</a> 
   </div>
<div id="index4" class= "col-4">
       <a class="btn btn-lg btn-info" href="/dashboard/task" style="margin: 30%;"> Task</a> 
   </div>
   </div>


</div>

<% include ./partials/footer %>

