<!DOCTYPE html>
<html>
<head>
	<title>Student Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet/landing.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
</head>
<body>
	<div id="landing-header">
		<h1 > <em><i class="fas fa-map-signs"></i>Sign In</em></h1>
	</div>
	<div id="log-in" class="container" >
<div style="width:30%; margin: 0 auto; padding-top: 2%">
    <form action="/login" method="POST">
	    <div class="form-group">
	        <input class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" >
        </div>
	    <div class="form-group">
		    <button class="btn btn-lg btn-primary btn-block">Submit</button>
	    </div>
    </form>
</div>
</div>

	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>


</body>
</html>

