<%include ./partials/header %>

<div class="container">
	<div class="jumbotron" style="padding-top: 10%">
		<div class="container">
			<h1>Student Management System<i class="fas fa-bus-alt"></i> </h1>
            <p>
        	   Review your Students work from anywhere!  
            </p>
		</div>
    </div>
    
    <div class="container">
   <div  class="row">
    <div id="index1" class= "col-4" >
       <a class="btn btn-lg btn-info" href="/dashboard/student/class1" style="margin: 30%;" > Class 1</a>
   </div>
<div id="index2" class= "col-4">
     <a class="btn btn-lg btn-info" href="/dashboard/student/class2" style="margin: 30%;"> Class 2</a>  
   </div>
   </div>
   
   <div class="container">
   <div  class="row">
    <div id="index1" class= "col-4">
       <a class="btn btn-lg btn-info" href="/dashboard/student/class3" style="margin: 30%;" > Class 3</a>
   </div>
<div id="index2" class= "col-4">
     <a class="btn btn-lg btn-info" href="/dashboard/student/class4" style="margin: 30%;"> Class 4</a>  
   </div>
   </div>

   <div class="container">
   <div  class="row">
    <div id="index1" class= "col-4">
       <a class="btn btn-lg btn-info" href="/dashboard/student/class5" style="margin: 30%;" > Class 5</a>
   </div>
<div id="index2" class= "col-4">
     <a class="btn btn-lg btn-info" href="/dashboard/student/class6" style="margin: 30%;"> Class 6</a>  
   </div>
   </div>

   <div class="container">
   <div  class="row">
    <div id="index1" class= "col-4">
       <a class="btn btn-lg btn-info" href="/dashboard/student/class7" style="margin: 30%;" > Class 7</a>
   </div>
<div id="index2" class= "col-4">
     <a class="btn btn-lg btn-info" href="/dashboard/student/class8" style="margin: 30%;"> Class 8</a>  
   </div>
   </div> 
    
    <div class="container">
   <div  class="row">
    <div id="index1" class= "col-4">
       <a class="btn btn-lg btn-info" href="/dashboard/student/class9" style="margin: 30%;" > Class 9</a>
   </div>
<div id="index2" class= "col-4">
     <a class="btn btn-lg btn-info" href="/dashboard/student/class10" style="margin: 30%;"> Class 10</a>  
   </div>
   </div>

   <div class="container">
   <div  class="row">
    <div id="index1" class= "col-4">
       <a class="btn btn-lg btn-info" href="/dashboard/student/class11" style="margin: 30%;" > Class 11</a>
   </div>
<div id="index2" class= "col-4">
     <a class="btn btn-lg btn-info" href="/dashboard/student/class12" style="margin: 30%;"> Class 12</a>  
   </div>
   </div>

</div>

<% include ./partials/footer %>

