<%include ./partials/header %>

<div class="container">
	<div class="jumbotron" style="padding-top: 10%">
		<div class="container">
			<h1>Student Management System<i class="fas fa-bus-alt"></i> </h1>
            <p>
        	   Review your Students work from anywhere!  
            </p>
		</div>
    </div>
    
    <div class="container">
   <div  class="row">
    <div id="index1" class= "col-4">
       <a class="btn btn-lg btn-info" href="/dashboard/task/assignment" style="margin: 30%;" > Assignment</a>
   </div>
<div id="index2" class= "col-4">
     <a class="btn btn-lg btn-info" href="/dashboard/task/vacationtask" style="margin: 30%;"> Vacations</a>  
   </div>
   </div>
    
   

</div>

<% include ./partials/footer %>

